menu "KernelSU"

config KSU
tristate "KernelSU function support"
depends on KPROBES
default y

config KSU_DEBUG
bool "KernelSU debug mode"
depends on KSU
default n

config KSU_NEXT
bool "Enable KernelSU Next"
default y

config KSU_SUSFS
bool "Enable KSU SUSFS Integration"
depends on SUSFS
default y

endmenu
